body {
   
    font-family: "Urbanist", sans-serif;
  }

  .alert__message-succes {
    background:#78fa4583;
  }
  .alert__message-error {
    background: #f01212d5;
  }
  a {
    text-decoration: none;
    list-style: none;
    color: #4e888f;
  }
  a:hover{
    background: #3498db4d;
  }
  ul li {
    list-style: none;
  }
/**************NAVBAR***************************/
header{
    background: linear-gradient(to bottom, rgba(220,226,227,255), #4e888f);
}
  nav{
    text-decoration: none;
  }
.logo_nav{
    width: 200px;
    height: auto;
    border-radius: 0 0 10px 0;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}
  
  .nav_link ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
  
  .nav_link ul li {
    margin-bottom: 10px;
  }
  
  .nav_link ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    
  }
  .nav_link ul li a:hover {
    background: #333;
    color: #fff;
    border-radius: 10px;
  } 
  .open_nav {
    display: none;
  }


  .sidebar{
    position:fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px(0,0,0,0.2);
    backdrop-filter: blur(10px);
    background-color:#4e898f7c;
     flex-direction: column;
    justify-content: flex-start;
    display: none;
    overflow-y: auto;
  }
.sidebar ul li  {
   padding: 20px;
    font-size: 1.2rem;
    
    
    
} 
.sidebar ul li a {
  color: #dce2e3;
}

.admin_nav {
  background: #4dd3e2b2;
  padding-top: 10px;
}

/*****************************EVENEMENT ET INDEX STYLE ******************************/
.search-bar {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .search-bar input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4e888f;
    color: #fff;
    cursor: pointer;
  }
  
  .event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  .event-card {
    background-size: cover;
  background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: rotateCard 2s ease forwards;
   
  }
  
  .event-card h3 {
    margin-top: 0;
  }
  
  .event-card button {
    padding: 10px 20px;
    background-color: #4e888f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .event-card button:hover {
    background-color: #2980b9;
  }


  @keyframes rotateCard {
    from {
      transform: rotateY(180deg);
      opacity: 0;
    }
    to {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }
 /*****************************   FOOTER STYLE ****************************************/  

 .footer {
    background-color:#dce2e3 ; /* Couleur de fond gris foncé */
    color: #fff; /* Couleur du texte blanc */
    padding: 20px 0;
    text-align: center;
    
}
  
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .opening-hours,
  .footer__container article {
    flex: 1 1 20%; /* Chaque colonne prend 20% de l'espace */
  }
  
  .opening-hours h4,
  .footer__container h4 {
    color: #fff; /* Couleur du titre blanc */
  }
  
  .opening-hours p {
    margin-bottom: 10px;
  }
  
  .footer__container ul {
    list-style: none;
    padding: 0;
  }
  
  .footer__container ul li {
    margin-bottom: 5px;
  }
  
  .footer__container ul li a {
    color: #fff; /* Couleur des liens blancs */
    text-decoration: none;
  }
  
  .footer__container ul li a:hover {
    text-decoration: underline;
    background: #4e888f;
  }
  
  .footer__copyright {
    margin-top: 20px;
  }

  
/*************************** EVENT PAGE  *********************************************************/


.event-details {
    max-width: 900px;
    margin: 50px auto;
    display: flex;
    align-items: flex-start;
  }
  
  .event-image {
    flex: 0 0 40%;
  }
  
  .event-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .event-info {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .event-info h1 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .event-info p {
    margin: 10px 0;
  }
  
  .event-info strong {
    font-weight: bold;
  }
  
  .event-info button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .event-info button:hover {
    background-color: #2980b9;
  }


/******************************************SIGN IN STYLE***************************************/

.logo {
    width: 500px;
    height: auto;
}

  .signin-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(220,226,227,255), #4e888f);
  }
  
  .signin-form {
    background: #fff;
    color: rgba(64,64,64,255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  
  .signin-form h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4e888f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3cb0bd;
  }
  
  .signup-text p {
    margin-top: 20px;
  }
  
  .signup-text p a {
    color: #4e888f;
    text-decoration: none;
  }
  
  .signup-text p a:hover {
    text-decoration: underline;
  }

/*---------SIGN UP¨PAGE ----------*/

.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff, #4e888f);
}

.signup-form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="file"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #2980b9;
}

.logo_container{
  display: flex;
  justify-content: center;
}



/********* MON PROFIL STYLE *************/ 


.profile-container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff, #4e888f);
}

.profile-form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}



.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="password"],
.form-group input[type="date"],
.form-group input[type="file"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="submit"],
.quit-button {
  width: 80%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group input[type="submit"]:hover,
.quit-button:hover {
  background-color: #2980b9;
}

.quit-button {
  margin-top: 10px;
}



/********* PAGE LISTE DES JOUEURS *******************/ 

.container {
  max-width: 80%;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #3cb0bd;
  color: #fff;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header h2 {
  margin-top: 0;
}

.search-bar {
  padding: 20px;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.table-container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

table img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


/****** STYLE EVENT FORM *******/ 


.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #4e888f;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header h2 {
  margin-top: 0;
}

.form-container {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select,
.form-group textarea,
.form-group input[type="date"],
.form-group input[type="number"],
.form-group input[type="file"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #2980b9;
}

/**** DASHBOARD ***********************/

.container {
  max-width: 800px;
  margin: 50px auto;
}

.header {
  background-color: #4e888f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header h2 {
  margin: 0;
}

.event-list {
  margin-top: 20px;
}

.event-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.event-info {
  flex-grow: 1;
}

.event-info h3 {
  margin-top: 0;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #4e888f;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #58777a;
}


@media screen and (max-width: 1024px) {
  /* NAV BAR */
  .open_nav {
    display: block;
  }
.hideOnMobile{
  display: none;
}
  
}

  /* Styles pour les smartphones */
@media only screen and (max-width: 600px) {

/*Sign in PAGE*/

    .logo {
        width: 80%;
        height: auto;
    }

  
    .form-group input {
      width: calc(100% - 20px);
    }
  
    button {
      width: 100%;
    }


    /**** INDEX PAGE ***/
    .event-grid {
      grid-template-columns: repeat(1, 1fr); /* Une seule colonne sur les écrans plus petits */
    }
  }
  